body {
  background-color: #A99AF1;
  font-size: 20px;
  text-align: auto;
  margin: 20px;
  padding: 20px;
  border: 20px;
}

button {
  color: #2626BB;
  background-color: #F3F691;
  font-size: 1.2em;
  margin: auto;
  display: block;
  border: 2px solid;
  border-radius: 25px;
}

#image {
  height: 399px;
  width: auto;
  margin: auto;
  display: block;
  border-style: solid;
  border-color: blue;
}

#question {
  border: 10px;
}

#situation {
  border: 10px;
}
